@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Inter:wght@200;300;400;500;700;800;900&family=Merriweather:wght@300;400;700;900&family=Mulish:wght@300;400;500;600;700;800;900;1000&family=Open+Sans:ital,wght@0,500;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@200;400;500;600;700;800;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

header {
  max-width: 1440px;

  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  /* gap: 1000px; */
  align-items: center;
  justify-content: center;
}

.Adventure {
  display: flex;
  width: 50%;
  gap: 16px;
  margin-top: 52px;
  /* margin-left: 135px; */
}
.Adventure-icon img {
  width: 50px;
}
.Adventure-heading {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.nav-bar {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: 63px;
  /* margin-right: 127px; */
}

.nav-bar a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.nav-bar div > a {
  color: #ff5400;
  font-size: 18px;
  font-weight: 700;
}

/* banner section ------ */

.banner-section {
  background-image: url("../Images/Group\ 13\ .png");
  /* background: linear-gradient(180deg, rgb(189, 187, 187) 0%, rgb(181, 181, 187) 100%); */
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 100px;
  border-radius: 16px;
}

.banner-section-container {
  text-align: center;
  align-items: center;
}
.input-item {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  width: 768px;
  height: 52px;
  padding: 16px;
  border: 2px solid red;
  margin-right: auto;
  margin-left: auto;
}
.banner-section-container h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  padding-top: 100px;
}
.banner-section-container p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 48px;
}
.input-item div > input {
  width: 174px;
  border-radius: 8px;
  background: #fff;
  border: none;
  /* padding: 16px 74px 16px 16px; */
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
}
.input-item div > button {
  width: 174px;
  border-radius: 8px;
  background: #ff5400;
  /* padding: 35px 16px 35px 16px; */
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

.input-item div img {
  position: relative;
  bottom: 20px;
  left: 20px;
}
.input-item div > button > img {
  position: relative;
  top: 5px;
  right: 20px;
}

/* popular section styles >>>>>>>>>>> */

.popular-section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 160px;
  margin-top: 100px;
}
.popular-content {
  width: 50%;
  /* margin-left: 135px; */
}

.popular-content h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}

.popular-content > p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.popular-content li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.popular-content button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border: none;
  margin-top: 32px;
}
.popular-section-image {
  width: 540px;
  height: 550px;
  align-items: center;
  /* margin-right: 135px; */
  border-radius: 16px;
}
.destination {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.destination-content {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.destination-content p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.image-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
}

.image-item:nth-child(1),
.image-item:nth-child(2) {
  grid-column: span 6;
}

.image-item:nth-child(3) {
  grid-column: span 4;
}

.image-item:nth-child(4) {
  grid-column: span 5;
}

.image-item:nth-child(5) {
  grid-column: span 3;
}

.image-item:nth-child(6) {
  grid-column: span 5;
}

.image-item:nth-child(7) {
  grid-column: span 7;
}

.image-item img {
  height: 100%;
  width: 100%;
}

.image-item {
  position: relative;
}
.image-item span {
  position: absolute;
  bottom: 200px;
  left: 200px;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
/* ---Choose-section styles----- */
.Choose-section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.Choose-content {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 48px;
}

.Choose-content h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.Choose-content p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.choose-item {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.choose-item-content-1 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding-right: 55px;
  padding-left: 32px;
  padding-top: 32px;
}
.choose-item-content-1 img {
  width: 64px;
  height: 64px;
}
.choose-item-content-1 h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.choose-item-content-1 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.choose-item-content-2 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding-right: 55px;
  padding-left: 32px;
  padding-top: 32px;
}
.choose-item-content-2 img {
  width: 64px;
  height: 64px;
}
.choose-item-content-2 h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.choose-item-content-2 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.choose-item-content-3 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding-right: 55px;
  padding-left: 32px;
  padding-top: 32px;
}
.choose-item-content-3 img {
  width: 64px;
  height: 64px;
}
.choose-item-content-3 h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.choose-item-content-3 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* ---place-section styles--- */

.place-section {
  display: flex;
  gap: 28px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 113px;
}
.place-content {
  width: 50%;
}
.place-content h2 {
  max-width: 448px;
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
}
.place-content p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.place-content ul > li {
  color: #131318;
  font-size: 16px;
  font-weight: 700; 
  line-height: 26px;
}
  

.video-container {
  max-width: 610px;
}
.video-container >video {
  width: 100%;
  height: 424px;
  border-radius: 16px;
}
