@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Inter:wght@200;300;400;500;700;800;900&family=Merriweather:wght@300;400;700;900&family=Mulish:wght@300;400;500;600;700;800;900;1000&family=Open+Sans:ital,wght@0,500;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@200;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  margin: 0px;
}

header {
  max-width: 1440px;

  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}



img {
  width: 100%;
  height: auto;
}

.Adventure {
  display: flex;
  width: 50%;
  gap: 16px;
  margin-top: 52px;
  /* margin-left: 135px; */
}
.Adventure-icon img {
  width: 50px;
}
.Adventure-heading {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.nav-bar {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: 63px;
  /* margin-right: 127px; */
}

.nav-bar a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.nav-bar div > a {
  color: #ff5400;
  font-size: 18px;
  font-weight: 700;
}

/* banner section ------ */

.banner-section {
  width: 1440px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../Images/Group\ 13\ .png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 100px;
  margin-top: 50px;
  border-radius: 16px;
  background-size: cover;
  padding-bottom: 30px;
}

.banner-section-container {
  text-align: center;
  align-items: center;
}
.input-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 180px;
  padding: 16px;
}

.input-item input {
  height: 52px;
  border: none;
  border-radius: 8px;
  padding: 4px 10px;
}

.input-item input[type="submit"] {
  background-color: #ff5400;
  color: #fff;
}

.banner-section-container h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  padding-top: 100px;
}
.banner-section-container p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 48px;
}
.input-item div > input {
  width: 174px;
  border-radius: 8px;
  background: #fff;
  border: none;
  /* padding: 16px 74px 16px 16px; */
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
}
.input-item div > button {
  width: 174px;
  border-radius: 8px;
  background: #ff5400;
  /* padding: 35px 16px 35px 16px; */
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

.input-item div img {
  position: relative;
  bottom: 20px;
  left: 20px;
}
.input-item div > button > img {
  position: relative;
  top: 5px;
  right: 20px;
}

/* popular section styles >>>>>>>>>>> */

.popular-section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 53px;
  margin-top: 100px;
  justify-content: space-between;
}
.popular-content {
  width: 100%;
  /* margin-left: 135px; */
}

.popular-content h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}

.popular-content > p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.popular-content li {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.popular-content button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border: none;
  margin-top: 32px;
}
.popular-section-image {
  width: 100%;
  height: 100%;
  align-items: center;
  /* margin-right: 135px; */
  border-radius: 16px;
}
.destination {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.destination-content {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.destination-content p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.image-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
}

.image-item:nth-child(1),
.image-item:nth-child(2) {
  grid-column: span 6;
}

.image-item:nth-child(3) {
  grid-column: span 4;
}

.image-item:nth-child(4) {
  grid-column: span 5;
}

.image-item:nth-child(5) {
  grid-column: span 3;
}

.image-item:nth-child(6) {
  grid-column: span 5;
}

.image-item:nth-child(7) {
  grid-column: span 7;
}

.image-item img {
  height: 100%;
  width: 100%;
}

.image-item {
  position: relative;
}
.image-item span {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
/* ---Choose-section styles----- */
.Choose-section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.Choose-content {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 48px;
}

.Choose-content h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.Choose-content p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.choose-item {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.choose-item-content-1 {
  width: 49%;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding-right: 55px;
  padding-left: 32px;
  padding-top: 32px;
}
.choose-item-content-1 img {
  width: 64px;
  height: 64px;
}
.choose-item-content-1 h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.choose-item-content-1 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.choose-item-content-2 {
  width: 49%;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding-right: 55px;
  padding-left: 32px;
  padding-top: 32px;
}
.choose-item-content-2 img {
  width: 64px;
  height: 64px;
}
.choose-item-content-2 h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.choose-item-content-2 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.choose-item-content-3 {
  width: 50%;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding-right: 55px;
  padding-left: 32px;
  padding-top: 32px;
}
.choose-item-content-3 img {
  width: 64px;
  height: 64px;
}
.choose-item-content-3 h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.choose-item-content-3 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* -------------- */

/* ---place-section styles--- */

.place-section {
  display: flex;
  gap: 50px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 113px;
  justify-content: space-between;
}
.place-content {
  width: 50%;
}
.place-content h2 {
  max-width: 448px;
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
}
.place-content p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.place-content ul > li {
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.place-content button {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  padding: 14px 42px 14px 42px;
  border: none;
}

.video-container {
  max-width: 610px;
  position: relative;
}
.video-container > video {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.video-container-thumbnail {
  position: absolute;
  bottom: 180px;
  left: 150px;
  max-width: 276px;
  transform: translate(0%, -40%);
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

/* newsletter-section styles  */

.newsletter-section {
  display: flex;
  gap: 24px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  justify-content: space-between;
}

.newsletter-content {
  width: 70%;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}
.newsletter-content h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.newsletter-content p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}
.newsletter-content input {
  display: flex;
  padding: 16px 251px 16px 20px;
  border: none;
  margin-top: 24px;
  margin-bottom: 16px;
  display: block;
  width: 100%;
}
.subscribe-btn {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  width: 100%;
  border: none;
  padding: 8px;
}
.newsletter-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.newsletter-image button {
  transform: rotate(-19.628deg);
  border-radius: 16px;
  background: #ff5400;
  position: absolute;
  top: 290px;
  right: 20px;
  padding: 50px;
  border: none;
}
.sale-off-1 {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.sale-off-2 {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}
/* -------------footer section styles -------------------- */
.footer-section {
  max-height: 600px;
  margin-top: 100px;
  margin-right: 0px;
  margin-left: 0px;
  background: rgba(19, 19, 24, 0.05);
}
.footer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 110px;
}

.footer-header img {
  width: 40px;
  height: 46.673px;
}

.footer-header h2 {
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}
.footer-section p {
  text-align: center;
}
.footer-icon {
  display: flex;
  justify-content: center;
  gap: 23px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.copyright-item {
  color: #131318;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 110px;
  padding-top: 50px;
}

.footer-section hr {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}
